body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #1b1a1a;
    color: #eee;
}


.cat{
    height: auto;
    width: 400px;
    display: block;
    margin: auto;
}
h1{
    text-align: center;
    color: #eee;

}
ul{
    background-color: #6e6d75;
}